# Script to generate tempest.conf
set -ex
export PATH=$PATH:/usr/local/sbin:/usr/sbin
source {{ source.refstack_client_source }}/.venv/bin/activate
source {{ source_credentials }}
printenv
discover-tempest-config \
--debug \
-v \
--non-admin \
--test-accounts {{ path_to_accounts_file }} \
{% if deployer_input is defined %}
--deployer-input {{ deployer_input }} \
{% endif %}
validation.run_validation true \
compute.allow_tenant_isolation true \
compute-feature-enabled.resize true \
{% if additional_tempestconf_params is defined %}
{{ additional_tempestconf_params }} \
{% endif %}
image.http_image {{ url_cirros_image }}
