# Script for running refstack tests

set -ex
source .venv/bin/activate

refstack-client test \
-c \
{{ path_to_tempest_config }} \
{% if test_list is defined %}
--test-list {{ test_list }} \
{% endif %}
-v
